doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= title

		link(rel="shortcut icon", href="/images/gt_favicon.png")
		link(rel='stylesheet', media="screen", href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
		link(rel='stylesheet', href="/css/bootstrap.min.css")
		link(rel='stylesheet', href="/css/font-awesome.min.css")

		link(rel='stylesheet', href="/css/bootstrap-theme.css", media="screen")
		link(rel='stylesheet', href='/css/style.css')

		<!--[if lt IE 9]>
		<script src="/js/html5shiv.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->
	body

		div(class='navbar navbar-inverse navbar-fixed-top headroom animated')
			div.container
				div.navbar-header
					button(type='button', class="navbar-toggle", data-toggle="collapse", data-target=".navbar-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a(class='navbar-brand', href='/')
					img(src='/images/logo.png', alt='Progressus HTML5 template')

				div(class='navbar-collapse collapse')
					ul(class='nav navbar-nav pull-right')
						li
							a(href='/') Home
						li
							a(href='/about') About

						li.dropdown
							a(href='#', class='dropdown-toggle', data-toggle="dropdown") More Pages
								b.caret
							ul.dropdown-menu
								li
									a(href='/sidebar-left') Left Sidebar
								li
									a(href='/sidebar-right') Right Sidebar

						li
							a(href='/contact') Contact
						li
							a(href='/signin', class='btn') SIGN IN / SIGN UP

		block content

	footer#footer.top-space
		div.footer1
			div.container
				div.row

					div(class='col-md-3 widget')
						h3(class='widget-title') Contact
						div(class='widget-body')
							p +234 23 9873237 <br> <a href='#'>some.email@somewhere.com</a> <br> <br> 234 Hidden Pond Road, Ashland City, TN 37015

					div(class='col-md-3 widget')
						h3(class='widget-title') Follow me
						div(class='widget-body')
							p(class='follow-me-icons')
								a(href='#')
									i(class='fa fa-twitter fa-2')
								a(href='#')
									i(class='fa fa-dribbble fa-2')
								a(href='#')
									i(class='fa fa-github fa-2')
								a(href='#')
									i(class='fa fa-facebook fa-2')

					div(class='col-md-6 widget')
						h3(class='widget-title') Text widget
						div(class='widget-body')
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?
							p Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.


		div.footer2
			div.container
				div.row
					div(class='col-md-6 widget')
						div(class='widget-body')
							p(class='simplenav')
								a(href='/') Home
								a(href='/about') About
								a(href='/sidebar-right') Sidebar
								a(href='/contact') Contact
								b
									a(href='#') Sign up

					div(class='col-md-6 widget')
						div(class='widget-body')
							p(class='text-right') Copyright © 2014, Your name. Designed by <a href='#'>gettemplate</a>



